
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>ToDo</title>
  </head>
  <body>
  {% load static %}



<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top mt-5">
      <a class="navbar-brand btn btn-primary" href="#">R</a> 
      <!-- <h2>Ravi Keshare</h2> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarCollapse">
      	  {% if user.is_authenticated %}

            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">{{user}}</a>
                <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
                <a href="{% url 'add_todo' %}" class="nav-item nav-link active">Create</a>
                <a href="{% url 'show_completed' %}" class="nav-item nav-link active">Completed</a>
                <form method="POST" action="{% url 'logout_user'%}">
					         {% csrf_token %}
					         <button type="submit" class="btn btn-info"> Logout</button>
				        </form>
            </div>
            	{% else %}

              <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Guest</a>

              </div>
 			      <div class="navbar-nav">
                <a href="{% url 'login_user' %}" class="nav-item nav-link active">login</a>
                <a href="{% url 'signup_user' %}}" class="nav-item nav-link active">SignUp</a>
             </div>
             	{% endif %}


        </div>

    </nav>


  <!-- {% if user.is_authenticated %}

	You are logged in as {{user}}. 

		<a href="{% url 'home' %}"> home </a>
		<a href="{% url 'add_todo' %}">Create</a>
		<a href="{% url 'show_completed' %}">Completed</a>

		<form method="POST" action="{% url 'logout_user'%}">
					{% csrf_token %}
				<button type="submit" > Logout</button>
		</form>


	{% else %}

		<a href="{% url 'login_user' %}">login</a>
		<a href="{% url 'signup_user' %}">SignUp</a>

	{% endif %} -->

	{% if success %}

		<div class="alert alert-success" role="alert">
			<h1 >{{success}}</h1>
		</div>
		{% elif error%}
		<div class="alert alert-error" role="alert">
			<h1 >{{error}}</h1>
		</div>
	{% endif %}


    
{% block content %}{% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>

